aprilCameraCalibration {

    // MRE:   0.346 px MSE   0.181 px MaxRE   1.404 px MaxERE   7.488 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 2592;
        height = 1944;

        intrinsics {
            // focal length fx, fy
            fc = [2291.649657,2283.459165 ];
            // focal center cx, cy
            cc = [1075.273976,1038.087678 ];
            // polynomial approximation mapping theta to radius
            kc = [  -0.097521,   0.032417,  -0.102841,   0.067505 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
